@font-face {
    font-family: "8bit";
    src: "/assets/fonts/8bit.ttf";
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    font-size: 20px;
}
#cr-stage {
    margin: 0 auto;
    color: white;
}
@media (min-width: 641px) {
    #cr-stage {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#ent2 {
    font-family: "8BIT WONDER";
}
